<template>
  <v-layout align-start>
    <v-flex>
      <v-toolbar flat color="white">
        <v-toolbar-title>Artículos</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
          class="text-xs-center"
          v-model="search"
          append-icon="search"
          label="Búsqueda"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="650px">
          <v-btn slot="activator" color="primary" dark class="mb-2">
            <v-icon>add_circle_outline</v-icon>Agregar
          </v-btn>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs6 sm6 md6>
                    <v-text-field v-model="sku" type="number" prepend-icon="graphic_eq" label="SKU"></v-text-field>
                  </v-flex>
                  <v-flex xs6 sm6 md6>
                    <v-text-field v-model="codigoSAT" label="Código SAT"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 md12>
                    <v-text-field v-model="nombre" label="Nombre"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 md12>
                    <v-text-field v-model="nombreSAT" label="Nombre SAT"></v-text-field>
                  </v-flex>
                  <v-flex xs6 sm6 md6>
                    <v-select v-model="idCategoria" :items="categorias" label="Categoría"></v-select>
                  </v-flex>
                  <v-flex xs6 sm6 md6>
                    <v-text-field v-model="marca" label="Marca"></v-text-field>
                  </v-flex>
                  <v-flex xs6 sm6 md6>
                    <v-text-field v-model="presentacion" label="Presentación"></v-text-field>
                  </v-flex>
                  <v-flex xs6 sm6 md6>
                    <v-text-field v-model="unidadSAT" label="Unidad SAT"></v-text-field>
                  </v-flex>
                  <v-flex xs6 sm6 md6>
                    <v-text-field
                      type="number"
                      prepend-icon="attach_money"
                      v-model="precio_venta"
                      label="Precio de venta"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs6 sm6 md6>
                    <v-text-field
                      v-model="stock"
                      type="number"
                      prepend-icon="trending_up"
                      label="Stock"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 md12>
                    <v-text-field v-model="descripcion" label="Descripción"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 md12 v-show="valida">
                    <div class="red--text" v-for="v in validaMensaje" :key="v" v-text="v"></div>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click.native="close">Cancelar</v-btn>
              <v-btn color="green darken-1" flat @click.native="guardar">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="adModal" max-width="350">
          <v-card>
            <v-card-title class="headline" v-if="adAccion==1">¿Activar artículo?</v-card-title>
            <v-card-title class="headline" v-if="adAccion==2">¿Desactivar artículo?</v-card-title>
            <v-card-text>
              Estás a punto de
              <span v-if="adAccion==1">Activar</span>
              <span v-if="adAccion==2">Desactivar</span>
              el artículo {{ adNombre }}
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat="flat" @click="activarDesactivarCerrar">Cancelar</v-btn>
              <v-btn v-if="adAccion==1" color="orange darken-4" flat="flat" @click="activar">Activar</v-btn>
              <v-btn
                v-if="adAccion==2"
                color="orange darken-4"
                flat="flat"
                @click="desactivar"
              >Desactivar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-data-table :headers="headers" :items="articulos" :search="search" class="elevation-1">
        <template slot="items" slot-scope="props">
          <td>{{ props.item.sku }}</td>
          <td>{{ props.item.codigoSAT }}</td>
          <td>{{ props.item.nombre }}</td>
          <td>{{ props.item.categoria }}</td>
          <td>{{ props.item.nombreSAT }}</td>
          <td>{{ props.item.marca }}</td>
          <td>{{ props.item.presentacion }}</td>
          <td>{{ props.item.unidadSAT }}</td>
          <td>{{ "$" + props.item.precio_venta }}</td>
          <td>{{ props.item.stock }}</td>
          <td>{{ props.item.descripcion }}</td>
          <td>
            <div v-if="props.item.estatus">
              <span class="green--text">Activo</span>
            </div>
            <div v-else>
              <span class="red--text">Inactivo</span>
            </div>
          </td>
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <template v-if="props.item.estatus">
              <v-icon small @click="activarDesactivarMostrar(2,props.item)">clear</v-icon>
            </template>
            <template v-else>
              <v-icon small @click="activarDesactivarMostrar(1,props.item)">done</v-icon>
            </template>
          </td>
        </template>
        <template slot="no-data">
          <v-btn color="primary" @click="listar">Reset</v-btn>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      articulos: [],
      dialog: false,
      headers: [
        { text: "SKU", value: "sku", sortable: false },
        { text: "Código SAT", value: "codigoSAT", sortable: false },
        { text: "Nombre", value: "nombre" },
        { text: "Categoría", value: "categoria" },
        { text: "Nombre SAT", value: "nombreSAT" },
        { text: "Marca", value: "marca" },
        { text: "Presentación", value: "presentacion", sortable: false },
        { text: "Unidad SAT", value: "unidadSAT" },
        { text: "Precio de venta", value: "precio_venta", sortable: false },
        { text: "Stock", value: "stock", sortable: false },
        { text: "Descripción", value: "descripcion", sortable: false },
        { text: "Estatus", value: "estatus", sortable: false },
        { text: "Opciones", value: "opciones", sortable: false }
      ],
      search: "",
      editedIndex: -1,
      idArticulo: "",
      idCategoria: "",

      sku: "",
      codigoSAT: "",
      nombre: "",
      categorias: [],
      nombreSAT: "",
      marca: "",
      presentacion: "",
      unidadSAT: "",
      precio_venta: 0,
      stock: 0,
      descripcion: "",
      valida: 0,
      validaMensaje: [],
      adModal: 0,
      adAccion: 0,
      adNombre: "",
      adId: ""
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Agregar artículo" : "Editar artículo";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.listar();
    this.Select();
  },
  methods: {
    listar() {
      let me = this;
      axios
        .get("api/Articulos/Listar")
        .then(function(response) {
          //console.log(response);
          me.articulos = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    Select() {
      let me = this;
      var categoriasArray = [];
      axios
        .get("api/Categorias/Select")
        .then(function(response) {
          categoriasArray = response.data;
          console.log(response.data);
          categoriasArray.map(function(x) {
            me.categorias.push({ text:x.nombre, value:x.idCategoria });
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    editItem(item) {
      this.idArticulo = item.idArticulo;
      this.idCategoria = item.idCategoria;
      this.sku = item.sku;
      this.codigoSAT = item.codigoSAT;
      this.nombre = item.nombre;
      this.nombreSAT = item.nombreSAT;
      this.marca = item.marca;
      this.presentacion = item.presentacion;
      this.unidadSAT = item.unidadSAT;
      this.precio_venta = item.precio_venta;
      this.descripcion = item.descripcion;
      this.stock = item.stock;
      this.editedIndex = 1;
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.desserts.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.desserts.splice(index, 1);
    },
    close() {
      this.dialog = false;
      this.limpiar();
    },
    limpiar() {
      this.id = "";
      this.sku = "";
      this.codigoSAT = "";
      this.nombre = "";
      this.idCategoria = "";
      this.nombreSAT = "";
      this.marca = "";
      this.presentacion = "";
      this.unidadSAT = "";
      this.precio_venta = "";
      this.stock = "";
      this.descripcion = "";
      this.editedIndex = -1;
    },
    guardar() {
      if (this.validar()) {
        return;
      }
      if (this.editedIndex > -1) {
        //Código para editar
        let me = this;
        axios
          .put("api/Articulos/Actualizar", {
            idArticulo: me.idArticulo,
            idCategoria: me.idCategoria,
            sku: me.sku,
            codigoSAT: me.codigoSAT,
            nombre: me.nombre,
            nombreSAT: me.nombreSAT,
            marca: me.marca,
            presentacion: me.presentacion,
            unidadSAT: me.unidadSAT,
            precio_venta: me.precio_venta,
            stock: me.stock,
            descripcion: me.descripcion
          })
          .then(function(response) {
            me.close();
            me.listar();
            me.limpiar();
          })
          .catch(function(error) {
            console.log(error);
          });
      } else {
        //Código para guardar
        let me = this;
        axios
          .post("api/Articulos/Agregar", {
            idCategoria: me.idCategoria,
            sku: me.sku,
            codigoSAT: me.codigoSAT,
            nombre: me.nombre,
            nombreSAT: me.nombreSAT,
            marca: me.marca,
            presentacion: me.presentacion,
            unidadSAT: me.unidadSAT,
            precio_venta: me.precio_venta,
            stock: me.stock,
            descripcion: me.descripcion
          })
          .then(function(response) {
            me.close();
            me.listar();
            me.limpiar();
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
    validar() {
      this.valida = 0;
      this.validaMensaje = [];

      if (this.nombre.length > 100) {
        this.validaMensaje.push("El nombre debe tener 100 caracteres.");
      }
      if (this.nombre.length == 0) {
        this.validaMensaje.push("Campo nombre es obligatorio.");
      }
      if (!this.idCategoria) {
        this.validaMensaje.push("Debe seleccionar una categoría.");
      }
      if (this.validaMensaje.length) {
        this.valida = 1;
      }
      return this.valida;
    },
    activarDesactivarMostrar(accion, item) {
      this.adModal = 1;
      this.adNombre = item.nombre;
      this.adId = item.idArticulo;
      if (accion == 1) {
        this.adAccion = 1;
      } else if (accion == 2) {
        this.adAccion = 2;
      } else {
        this.adModal = 0;
      }
    },
    activarDesactivarCerrar() {
      this.adModal = 0;
    },
    activar() {
      let me = this;
      axios
        .put("api/Articulos/Activar/" + this.adId, {})
        .then(function(response) {
          me.adModal = 0;
          me.adAccion = 0;
          me.adNombre = "";
          me.adId = "";
          me.listar();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    desactivar() {
      let me = this;
      axios
        .put("api/Articulos/Desactivar/" + this.adId, {})
        .then(function(response) {
          me.adModal = 0;
          me.adAccion = 0;
          me.adNombre = "";
          me.adId = "";
          me.listar();
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>
