<template>
    <v-layout align-start>
        <v-flex>
            <v-toolbar flat color="white">
                <v-toolbar-title>Clientes</v-toolbar-title>
                    <v-divider
                    class="mx-2"
                    inset
                    vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                    <v-text-field class="text-xs-center" v-model="search" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="600px">
                        <v-btn slot="activator" color="primary" dark class="mb-2">Agregar</v-btn>
                        <v-card>
                            <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                            </v-card-title>
                
                            <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="codigoCliente" label="Código cliente">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="razon_social" label="Razón social">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="nombre_comercial" label="Nombre comercial">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="rfc" label="RFC">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="banco" label="Banco">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="numero_cuenta" label="Numero de cuenta">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-select v-model="tipo_documento"
                                    :items="documentos" label="Tipo Documento">
                                    </v-select>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="num_documento" label="Número Documento">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="dias_credito" label="Días de crédito">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="monto_credito" label="Monto crédito">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="direccion" label="Dirección">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="email" label="Email">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field mask="phone" v-model="telefono" label="Teléfono">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field type="number" v-model="descuento" label="Descuento">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field  v-model="descripcion" label="Descripción">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md12 v-show="valida">
                                    <div class="red--text" v-for="v in validaMensaje" :key="v" v-text="v">
                                    </div>
                                </v-flex>
                                </v-layout>
                            </v-container>
                            </v-card-text>
                
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click.native="close">Cancelar</v-btn>
                                <v-btn color="green darken-1" flat @click.native="guardar">Guardar</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <v-dialog v-model="adModal" max-width="350">
                    <v-card>
                        <v-card-title class="headline" v-if="adAccion==1">¿Activar cliente?</v-card-title>
                        <v-card-title class="headline" v-if="adAccion==2">¿Desactivar cliente?</v-card-title>
                        <v-card-text>
                        Estás a punto de
                        <span v-if="adAccion==1">Activar</span>
                        <span v-if="adAccion==2">Desactivar</span>
                        el cliente {{ adNombre }}
                        </v-card-text>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat="flat" @click="activarDesactivarCerrar">Cancelar</v-btn>
                        <v-btn v-if="adAccion==1" color="orange darken-4" flat="flat" @click="activar">Activar</v-btn>
                        <v-btn
                            v-if="adAccion==2"
                            color="orange darken-4"
                            flat="flat"
                            @click="desactivar"
                        >Desactivar</v-btn>
                        </v-card-actions>
                    </v-card>
                    </v-dialog>
                </v-toolbar>
            <v-data-table
                :headers="headers"
                :items="clientes"
                :search="search"
                class="elevation-1"
            >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.codigoCliente }}</td>
                    <td>{{ props.item.razon_social }}</td>
                    <td>{{ props.item.nombre_comercial }}</td>                    
                    <td>{{ props.item.rfc }}</td>
                    <td>{{ props.item.banco }}</td>
                    <td>{{ props.item.numero_cuenta }}</td>
                    <td>{{ props.item.tipo_documento }}</td>
                    <td>{{ props.item.num_documento }}</td>
                    <td>{{ props.item.dias_credito }}</td>
                    <td>{{ props.item.monto_credito }}</td>
                    <td>{{ props.item.direccion }}</td>
                    <td>{{ props.item.email }}</td>
                    <td>{{ props.item.telefono }}</td>
                    <td>{{ props.item.descuento }}</td>
                    <td>{{ props.item.descripcion }}</td>
                    <td>
                        <div v-if="props.item.estatus">
                            <span class="green--text">Activo</span>
                        </div>
                        <div v-else>
                            <span class="red--text">Inactivo</span>
                        </div>
                    </td>
                    <td class="justify-center layout px-0">
                        <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                        <template v-if="props.item.estatus">
                        <v-icon small @click="activarDesactivarMostrar(2,props.item)">clear</v-icon>
                        </template>
                        <template v-else>
                        <v-icon small @click="activarDesactivarMostrar(1,props.item)">done</v-icon>
                        </template>
                    </td>
                </template>
                <template slot="no-data">
                <v-btn color="primary" @click="listar">Resetear</v-btn>
                </template>
            </v-data-table>
        </v-flex>
    </v-layout>
</template>
<script>
    import axios from 'axios'
    export default {
        data(){
            return {
                clientes:[],                
                dialog: false,
                headers: [
                    { text: 'Codigo cliente', value: 'codigoCliente' },
                    { text: 'Razon social', value: 'razon_social' },
                    { text: 'Nombre comercial', value: 'nombre_comercial' },
                    { text: 'RFC', value: 'rfc' },
                    { text: 'Banco', value: 'banco' },
                    { text: 'Numero cuenta', value: 'numero_cuenta' },
                    { text: 'Tipo Documento', value: 'tipo_documento' },
                    { text: 'Número Documento', value: 'num_documento', sortable: false  },
                    { text: 'Dias credito', value: 'dias_credito', sortable: false  },
                    { text: 'Monto credito', value: 'monto_credito', sortable: false  },
                    { text: 'Dirección', value: 'direccion', sortable: false  },
                    { text: 'Email', value: 'email', sortable: false },                    
                    { text: 'Teléfono', value: 'telefono', sortable: false  },
                    { text: 'Descuento', value: 'descuento', sortable: false  },
                    { text: 'Descripcion', value: 'descripcion', sortable: false  },
                    { text: 'Estatus', value: 'estatus', sortable: false  },
                    { text: 'Opciones', value: 'opciones', sortable: false }                
                ],
                search: '',
                editedIndex: -1,
                idCliente: '',
                codigoCliente: '',
                razon_social: '',
                nombre_comercial:'',
                rfc:'',
                banco: '',
                numero_cuenta:'',
                tipo_documento: '',
                documentos: ['IFE','INE','PASAPORTE','CEDULA'],
                num_documento: '',
                dias_credito:'',
                monto_credito:'',
                direccion: '',
                email: '',
                telefono: '',
                descuento:'',
                descripcion:'',
                actPassword:false,
                passwordAnt:'',
                valida: 0,
                validaMensaje:[],
                adModal: 0,
                adAccion: 0,
                adNombre: '',
                adId: ''             
            }
        },
        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Agregar cliente' : 'Editar cliente'
            }
        },

        watch: {
            dialog (val) {
            val || this.close()
            }
        },

        created () {
            this.listar();
            //this.select();
        },
        methods:{
            listar(){
                let me=this;
                axios.get('api/Clientes/Listar').then(function(response){
                    //console.log(response);
                    me.clientes=response.data;
                }).catch(function(error){
                    console.log(error);
                });
            },
            // select(){
            //     let me=this;
            //     var rolesArray=[];
            //     axios.get('api/Roles/Select').then(function(response){
            //         rolesArray=response.data;
            //         rolesArray.map(function(x){
            //             me.roles.push({text: x.nombre,value:x.idRol});
            //         });
            //     }).catch(function(error){
            //         console.log(error);
            //     });
            // },
            editItem (item) {
                this.idCliente=item.idCliente;
                this.codigoCliente=item.codigoCliente;
                this.razon_social=item.razon_social;
                this.nombre_comercial=item.nombre_comercial;
                this.rfc=item.rfc;
                this.banco=item.banco;
                this.numero_cuenta=item.numero_cuenta;
                this.tipo_documento=item.tipo_documento;
                this.num_documento=item.num_documento;
                this.dias_credito=item.dias_credito;
                this.monto_credito=item.monto_credito;
                this.direccion=item.direccion;
                this.email=item.email;
                this.telefono=item.telefono;
                this.descuento=item.descuento;
                this.descripcion=item.descripcion;
                this.editedIndex=1;
                this.dialog = true
            },
            close () {
                this.dialog = false;
                this.limpiar();
            },
            limpiar(){
                this.idCliente=""
                this.codigoCliente="";
                this.razon_social="";
                this.nombre_comercial="";
                this.rfc="";
                this.banco="";
                this.numero_cuenta="";
                this.tipo_documento="";
                this.num_documento="";
                this.dias_credito="";
                this.monto_credito="";
                this.direccion="";
                this.email="";
                this.telefono="";
                this.descuento="";
                this.descripcion="";
                this.actPassword=false;
                this.editedIndex=-1;
            },
            guardar () {
                if (this.validar()){
                    return;
                }
                if (this.editedIndex > -1) {
                    //Código para editar
                    //Código para guardar
                    let me=this;
                    axios.put('api/Clientes/Actualizar',{
                        'idCliente':me.idCliente,
                        'codigoCliente':me.codigoCliente,
                        'razon_social':me.razon_social,
                        'nombre_comercial':me.nombre_comercial,
                        'rfc':me.rfc,
                        'Banco':me.banco,
                        'numero_cuenta':me.numero_cuenta,
                        'tipo_documento': me.tipo_documento,
                        'num_documento':me.num_documento,
                        'dias_credito':me.dias_credito,
                        'monto_credito':me.monto_credito,
                        'direccion':me.direccion,
                        'email':me.email,
                        'telefono': me.telefono,
                        'descuento':me.descuento,
                        'descripcion':me.descripcion                    
                    }).then(function(response){
                        me.close();
                        me.listar();
                        me.limpiar();                        
                    }).catch(function(error){
                        console.log(error);
                    });
                } else {
                    //Código para guardar
                    let me=this;
                    axios.post('api/Clientes/Agregar',{
                        'codigoCliente':me.codigoCliente,
                        'razon_social':me.razon_social,
                        'nombre_comercial':me.nombre_comercial,
                        'rfc':me.rfc,
                        'Banco':me.banco,
                        'numero_cuenta':me.numero_cuenta,
                        'tipo_documento': me.tipo_documento,
                        'num_documento':me.num_documento,
                        'dias_credito':me.dias_credito,
                        'monto_credito':me.monto_credito,
                        'direccion':me.direccion,
                        'email':me.email,
                        'telefono': me.telefono,
                        'descuento':me.descuento,
                        'descripcion':me.descripcion
                    }).then(function(response){
                        me.close();
                        me.listar();
                        me.limpiar();                        
                    }).catch(function(error){
                        console.log(error);
                    });
                }
            },
            validar(){
                this.valida=0;
                this.validaMensaje=[];

                // if (this.nombre.length<3 || this.nombre.length>100){
                //     this.validaMensaje.push("El nombre debe tener más de 3 caracteres y menos de 100 caracteres.");
                // }
                // if (!this.idRol){
                //     this.validaMensaje.push("Seleccione un rol.");
                // }
                // if (!this.tipo_documento){
                //     this.validaMensaje.push("Seleccione un tipo documento.");
                // }

                // if (!this.email){
                //     this.validaMensaje.push("Ingrese el email del usuario.");
                // }
                // if (!this.password){
                //     this.validaMensaje.push("Ingrese el password del usuario.");
                // }
                // if (this.validaMensaje.length){
                //     this.valida=1;
                // }
                return this.valida;
            },
            activarDesactivarMostrar(accion,item){
                this.adModal=1;
                this.adNombre=item.nombre_comercial;
                this.adId=item.idCliente;                
                if (accion==1){
                    this.adAccion=1;
                }
                else if (accion==2){
                    this.adAccion=2;
                }
                else{
                    this.adModal=0;
                }
            },
            activarDesactivarCerrar(){
                this.adModal=0;
            },
            activar(){
                let me=this;
                axios.put('api/Clientes/Activar/'+this.adId,{}).then(function(response){
                    me.adModal=0;
                    me.adAccion=0;
                    me.adNombre="";
                    me.adId="";
                    me.listar();                       
                }).catch(function(error){
                    console.log(error);
                });
            },
            desactivar(){
                let me=this;
                axios.put('api/Clientes/Desactivar/'+this.adId,{}).then(function(response){
                    me.adModal=0;
                    me.adAccion=0;
                    me.adNombre="";
                    me.adId="";
                    me.listar();                       
                }).catch(function(error){
                    console.log(error);
                });
            }
        }        
    }
</script>
