<template>
    <v-layout align-center justify-center>
        <v-flex xs12 sm8 md6 lg5 xl4>
            <v-card>
                <v-toolbar dark color="blue darken-3">
                    <v-toolbar-title>
                        Acceso al Sistema
                    </v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                    <v-text-field v-on:keyup="ingresarKeyUp" prepend-icon="person" v-model="email" clearable autofocus color="accent" :rules="[rules.required, rules.e_mail]" label="E-mail" required>
                    </v-text-field>
                    <v-text-field v-on:keyup="ingresarKeyUp" prepend-icon="vpn_key" v-model="password" clearable type="password" color="accent" :rules="[rules.required]" label="Password" required>
                    </v-text-field>
                    <br>
                    <v-flex class="red--text" v-if="error">
                        {{error}}
                    </v-flex>
                </v-card-text>
                <v-card-actions class="px-3 pb-3">
                    <v-flex text-xs-right>
                        <v-btn block @click="ingresar" color="primary">Ingresar</v-btn>
                    </v-flex>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
import axios from 'axios'
export default {
    data(){
        return {
            email: '',
            password: '',
            error: null,
            rules: {
                required: value => !!value || 'Requerido.',
                e_mail: value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    return pattern.test(value) || 'E-mail no válido.'
                }
            }
        }
    },
    methods :{
        ingresar(){
            this.error=null;
            axios.post('api/Usuarios/Login', {email: this.email, password: this.password})
            .then(respuesta => {
                console.log(respuesta.data);                return respuesta.data
            })
            .then(data => {        
                this.$store.dispatch("guardarToken", data.token)
                this.$router.push({ name: 'home' })
            })
            .catch(err => {
                //console.log(err.response);
                if (err.response.status==400){
                    this.error="Favor de ingresar el Email correctamente";
                } else if (err.response.status==404){
                    this.error="No existe el usuario o sus datos son incorrectos";
                }else{
                    this.error="Ocurrió un error";
                }
                //console.log(err)
            })
        },
        ingresarKeyUp(e){
            if (e.keyCode === 13) {
                this.error=null;
                axios.post('api/Usuarios/Login', {email: this.email, password: this.password})
                .then(respuesta => {
                    return respuesta.data
                })
                .then(data => {        
                    this.$store.dispatch("guardarToken", data.token)
                    this.$router.push({ name: 'home' })
                })
                .catch(err => {
                    //console.log(err.response);
                    if (err.response.status==400){
                        this.error="Favor de ingresar el Email correctamente";
                    } else if (err.response.status==404){
                        this.error="No existe el usuario o sus datos son incorrectos";
                    }else{
                        this.error="Ocurrió un error";
                    }
                    //console.log(err)
                })
            }
        }
    }
    
}
</script>

